# replace with your own - literally just `exec tas/<whatever>`
# this changes far too frequently to be useful
current_tas.cfg

# solo coop is a huge work-in-progress, to the point where i
# don't even want to commit any of it right now. still working
# on making it readable and consistent using sar_tas_ss <x>.
solo_coop/

# krzy made a 180-strafe demo and it's neat
# but i'm not gonna share it without his permission
misc/krzy_*.cfg
